{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}Feral Cat Tracker{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
{% block content %}
    <section>
        <div class="container">
            <h2>Feral Cat Tracker::Colonies::{{ catcolony.colony_name }}</h2>
	    <input type=button value="Back to Colonies" onClick="javascript:history.go(-1);">
        </div>
    </section>
    <section>
      <div class="container">
	<table class="table table-striped table-responsive" style="width: 60%">
	  <tr><td>Name: </td><td>{{ catcolony.colony_name }}
	  </td></tr>
	  <tr><td>Location Name: </td><td>{{ catcolony.colony_location_name }} 
	  </td></tr>
	  <tr><td>Street Address:</td><td>{{ catcolony.colony_street_address }}
	  </td></tr>
	  <tr><td>Cross Streets</td><td>{{ catcolony.colony_cross_street }}
	  </td></tr>
	  <tr><td>City</td><td>{{ catcolony.colony_city }}
	  </td></tr>
	  <tr><td>State</td><td>{{ catcolony.colony_state }}
	  </td></tr>
	  <tr><td>Zip</td><td>{{ catcolony.colony_zip }}
	  </td></tr>
	  <tr><td>Year formed:</td><td>{{ catcolony.colony_year_formed }}
	  </td></tr>
	  {% for key, value in catcolony.SETTING_CHOICES %} 
	      {% if key == catcolony.colony_setting %}
	  <tr><td>Setting:</td><td>{{ value }}
	      {% endif %}
	  {% endfor %}    
	  </td></tr>
	  <tr><td>Setting Notes:</td><td>{{ catcolony.colony_setting_other }}
	  </td></tr>
	  <tr><td>Member Cats:</td><td>
	    <ul>
	      {% for cat in cats %} 
	      <li> {{ cat.cat_name }} </li>
	      {% endfor %}
	    </ul></td></tr>
	</table>
      </div>
    </section>
     

<!--
    <section>
      <div class="container">
	<ul>
	{% for col in colonies_list %}
	<li><a href="/cattrack/colonies/{{ col.id }}/">{{ col.colony_name }}</a></li>
	{% endfor %}
	</ul>
      </div>
    </section>
-->
{% endblock %}
<!--
    <section>
        <div class="container">
            <p class="lead text-center">
                {% blocktrans %}
                See <a href="http://pinaxproject.com/">pinaxproject.com</a>
                for more information.
                {% endblocktrans %}
            </p>
        </div>
    </section>
-->
{% endblock %}
